h1 {
	font:  50px Georgia;
}

.para {
	font: 25px ui-sans-serif;
}

body {
	background-color: #F8BE52;
}

.All {
	display: block;
	width: 50%;
	margin: auto;
	background-color: #5282A9;
}

img {
	width: 70%;
	height: auto;
	margin-top: 20px;
}

a {
	color: white;
}

h2 {
	margin-bottom: 15px;
}
