
body {
  background-color: #a766f2;
  padding-right: 5px;
}

h1 {
  font: 900 60px highway, Georgia;
  border-style: ridge;
  border-color: black;
  display: inline-block;
  padding: 10px 80px 10px 80px;
  background-color: gray; 
}

li {
	font: bold 30px monospace;
	
	list-style: none;
}

h2 {
	font: bold 35px monospace;
    font-size: 20px;
}

.HandT {
	color: #d69f04;
}

.current {
	font-weight: bold;
	color: #c24271;
}

.Contain {
	display: block;
    margin: auto;
    width: 50%;
	background-color: #5890e8;
	padding: 10px 70px 10px 70px;
}

.homebee {
	position: absolute;
	top: 20px;
	left: 1050px;
	width: 20%;
}

img {
	float: right;
	width: 35%;
	height: auto;
	margin: 10px;
}

a {
	color: white;
}

ul {
	border-style: groove;
	padding-right: 20px;
	background-color: #b1bf71;
}

nav {
	display: inline-block;
	
}

.margin {
	margin-bottom: 70px;
}

.para {
	font-size: 27px;
	display: inline;
	padding-bottom: 20px;
	text-align: justify;
}

